body {
    font-size: 0.9em;
    background-color: #e5eaf5;
}
#gridArea {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
    "header header"
	"list button"
    "footer footer"
	;
	gap: 5px;
}
header {
    grid-area: header;
}
#button {
    grid-area: button; 
    padding: 5px; 
    border-right: thick solid #494d5f; 
    background-color: #baaad6;
}

#list {
    grid-area: list;
    padding: 5px; 
    border-right: thick solid #494d5f;
    border-left: thick solid #494d5f; 
    background-color: #d0bdf4;
    
}
footer {
    grid-area: footer;
}
.headerStyle {text-align: center; 
    font-family: Times New Roman; 
    color: white; 
    background: #494d5f;
    padding: 5px 0;
}
button {
    margin :5px 0;
    padding: 5px; 
    background-color: ivory; 
    color: #494d5f; 
    width: 100%;
    font-weight: bold;
}
ul {
    text-align: left;
}
li {
    margin-bottom: 6px;
}
.liToggle{
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background:#bb6060;
    border:2px solid #cd5c5c;
}
.anchorCSS {
    margin :5px 0;
    padding: 5px; 
    background-color: ivory; 
    color: #494d5f; 
    width: 100%;
    font-weight: bold; 
    text-decoration:none; 
    box-shadow: 2px 2px 2px black;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
}
.anchorButton{
    text-align: center;
    margin:7px 0; 
    width: 100%;

}